body {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    font-size: 16pt;
    transition: color, font-size, background, 3s;
}

header:hover {
    font-size: 10pt;
    color:darkorange;
    background-color: green;
}

header:active{
    font-size: 20pt;
    color:blueviolet;
    background-color: bisque;
}

footer{
    background-color: antiquewhite;
    color:black;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    transition: shadow, color, background-color, text-align;
}

footer:hover{
    text-shadow: 2px 2px 2px red;
    color:fuchsia;
    transition:all 2s;
}

footer:active{
    background-color: azure;
    text-shadow:none; 
}
a {
    color: green; 
    text-decoration-line: none;
    text-shadow: 2px 2px 10px lightcoral;
    transition: text-shadow, color, text-duration, 
    background-color, font-weight, 5s;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue; 
    text-decoration-line: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    transition: all 0.3s;
}


a:active {
    color: pink;
    background-color: lightgreen;
}
