body {
    background-color: lightblue;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

header {
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    font-size: 16pt;
}

footer{
    background-color: antiquewhite;
    color:black;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}

a {
    color: green; 
    text-decoration-line: none;
    text-shadow: 2px 2px 10px lightcoral;
    transition: text-shadow, color, text-duration, 
    background-color, font-weight, 3s;
}

a:visited {
    color: blue;
}

a:hover {
    color: blue; 
    text-decoration-line: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    transition: all 0.3s;
}


a:active {
    color: pink;
    background-color: lightgreen;
}

